  /*行ヘッダーを固定する。topの値はjsで動的に指定*/
  table.sticky-table thead tr[class*="fixed-header-"] th {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      background-color: darkgray;
      /* tbody tdより手前に表示する */
      z-index: 1;
  }
  
  /*行ヘッダーと列ヘッダーが重なる部分を固定する。top,leftの値はjsで動的に指定*/
  table.sticky-table thead tr[class*="fixed-header-"] th[class*="fixed-column-"] {
      /* 全てのセルより手前に表示する */
      z-index: 2;
  }
  
  /*列ヘッダーを固定する。leftの値はjsで動的に指定*/
  table.sticky-table tbody th[class*="fixed-column-"] {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      background-color: darkgray;
      /* tbody tdより手前に表示する */
      z-index: 1;
  }